anyio==4.15.1
certifi==2026.7.22
click==8.5.0
colorama==0.4.6
einops==0.8.2
filelock==3.32.6
fsspec==2026.7.0
gsplat @ file:///C:/Users/qzq/Desktop/SDU/%E5%BC%80%E6%94%BE%E5%88%9B%E6%96%B0%E5%AE%9E%E8%B7%B52/baseline_demo/vendor/gsplat
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.31.0
idna==3.19
ImageIO==2.37.4
imageio-ffmpeg==0.6.0
jaxtyping==0.3.11
Jinja2==3.1.6
lpips==0.1.4
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
networkx==3.6.1
ninja==1.13.2
numpy==1.26.4
nvidia-cuda-nvcc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
opencv-python-headless==4.11.0.86
packaging==26.3
pillow==12.3.0
pycolmap==3.11.1
Pygments==2.21.0
PyYAML==6.0.3
rich==15.0.0
safetensors==0.8.0
scipy==1.17.1
sympy==1.14.0
torch @ file:///D:/vggt_downloads/parallel/torch-2.7.1%2Bcu128-cp311-cp311-win_amd64.whl#sha256=138c66dcd0ed2f07aafba3ed8b7958e2bed893694990e0b4b55b6b2b4a336aa6
torchvision==0.22.1+cu128
tqdm==4.70.1
trimesh==5.1.0
typing_extensions==4.16.0
wadler_lindig==0.1.7
